

<%= HandHistory.hand_info(@hand_history.data) %>


<table>
  <tr>
    <td> Hand Number </td>
    <td> Won </td>
  </tr>
  <tr>
    <td> <%= HandHistory.hand_number(@hand_history.data) %> </td>
    <td> <%= number_to_currency(HandHistory.money_won(@hand_history.data)) %> </td>
  </tr>
</table>

